{{define "body"}}

<title>Change Password</title>


    {{ if .Response }}

         <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
      
        <script>
            r(function(){
                var snackbarContainer = document.querySelector('#demo-toast-example');
                        
            {{ if .Error }}
            var data = { message: {{ .ErrorMsg }} };
            snackbarContainer.MaterialSnackbar.showSnackbar(data);
            {{ end }}	
                
            });
            function r(f){ /in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
        </script>

            
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                    <header class="custom-header mdl-layout__header mdl-layout__header--waterfall">
                      <div class="mdl-layout__header-row">
                        <!-- Title -->
                        <span class="mdl-layout-title" style="font-size: 14px;">Welcome {{ .Name }}</span>
                        <!-- Add spacer, to align navigation to the right -->
                        <div class="mdl-layout-spacer"></div>
                        <!-- Navigation. We hide it in small screens. -->
                        <nav class="mdl-navigation mdl-layout--large-screen-only roboto-font-bold">
      
                          <span style="color:#fff; margin-right: 10px; font-size: 13px;">{{ .UserType }}</span>
                          
                          <form class="form-inline" action="/change_password.html" method="post">
                              <input type="hidden" name="email" value="{{ .Email }}">
                              <input type="hidden" name="name"  value="{{ .Name }}">							
                               <input type="hidden" name="changePwdSubmitted" value="true">	
                              <input type="button" name="submit" id="changePwd" style="color: black; padding: 8px; font-size: 13px;" value="Change Password" width="24" height="24"/> 	
                          </form>  
                          <a class="mdl-navigation__link" href="/logout" style="color: white; font-size: 13px;">Logout</a>
      
                        </nav>
                      </div>
                    </header>
                    
                    <main class="mdl-layout__content">

                        <div class="page-content">

                            <div class="login-content">

                                    <center>
                                            <img src="/assets/css/images/logo_fabric.png" width="80" height="80"/>
                                       
                                            <div class="fabric-header">
                                           <b class="roboto-font-condensed-bold-italic"> Change Password </b>
                                            </div>	
                                    </center>

                                <div class="mdl-shadow--2dp demo-card-wide">
                                    
                                        <div class="mdl-card__supporting-text card-content">
                                                                
                                                <form class="form-inline" action="/change_pwd" method="post">
                                                
                                                    <div>
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="form-control mdl-textfield__input" type="password" style="font-family  : Roboto-Medium;	
                                                                    font-size    : 13px;" title="Please enter old Password" required id="oldPwd" name="oldPwd"/>
                                                                    <label class="mdl-textfield__label" for="oldPwd">Old Password</label>
                                                            <i class="material-icons mdl-textfield__label__icon">lock</i>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                                    <input class="form-control mdl-textfield__input" type="password" style="font-family  : Roboto-Medium;	
                                                                    font-size    : 13px;" title="Please enter new Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required id="newPwd" name="newPwd"/>
                                                                    <label class="mdl-textfield__label" for="newPwd">New Password</label>
                                                            <i class="material-icons mdl-textfield__label__icon">lock</i>
                                                        </div>
                                                    </div>

                                                    
                                                    <div>                                        
                                                        <input type="hidden" name="name" value="{{.Name}}">
                                                        <input type="hidden" name="email" value="{{.Email}}">
                                                        <input type="hidden" name="userType" value="{{.UserType}}">

                                                        <input type="hidden" name="changePwdSubmitted" value="true">
                                                        <button id="changePwd" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Change Password</button>			
                                                    </div>
                                                     
                                                </form>

                                        </div>
                                </div>
                            </div>
                        </div>

                    </main>
                </div>
    {{end}}

{{end}}